<header>

  <mat-toolbar color="primary">
    <span>Terra Mapping &nbsp;&nbsp;&nbsp;&nbsp; </span>
    <mat-icon>search</mat-icon>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" matInput
        placeholder="Place"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        #search
        [formAction]="searchControl">

        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>

      </mat-form-field>
    </form>
  </mat-toolbar>

</header>
